/************** dataGrid toolbar css START **************/

/* ::ng-deep .dx-button-mode-contained,  */
::ng-deep .dx-state-hover {
  background-color: #CFC0FF !important;
  /* border: 1px solid #C4CEE5 !important; */
}

/* plus icon */
::ng-deep .dx-icon-plus {
  color: white !important;
  width: 12px !important;
  height: 12px !important;
}

/* filter icon */
::ng-deep .dx-icon-filter {
  color: #744BFC !important;
  font-size: 13px !important;
}

/* search Panel */
::ng-deep .dx-datagrid-search-panel {
  margin: 0 !important;
  border-radius: 39px !important;
  opacity: 1 !important;
  max-width: 380px !important;
}

::ng-deep .dx-datagrid-search-panel .dx-texteditor-input {
  border-radius: 39px !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  font-size: 12px !important;
  padding: 10px !important;
}

::ng-deep .dx-searchbox .dx-icon-search {
  width: 50px !important;
  height: 36.2833px !important;
  right: 0;
  background-color: #744BFC !important;
  border-top-right-radius: 39px !important;
  border-bottom-right-radius: 39px !important;
  top: 17px;
}

::ng-deep .dx-searchbox .dx-icon-search::before {
  color: white !important;
}

@media (max-width: 768px) {
  ::ng-deep .dx-texteditor-buttons-container {
    display: none !important;
  }
}

/************** dataGrid toolbar css END **************/


/************** dataGrid header css START **************/

/* Sorting indicator css */
::ng-deep .dx-sort::before {
  color: #744BFC !important;
  font-weight: bold !important;
  font-size: 18px !important;
}

/* Table header text css */
::ng-deep .dx-header-row>td>.dx-datagrid-text-content {
  color: #000000 !important;
  font-weight: bold !important;
  font-size: 13px !important;
  line-height: 19.5px !important;
}

/************** dataGrid header css END **************/


/************** dataGrid table css START **************/
::ng-deep .dx-bordered-top-view {
  border-radius: 8px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-color: #C4CEE5 !important;
}

::ng-deep .dx-bordered-bottom-view {
  border-radius: 8px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: #C4CEE5 !important;
  height: 576px !important;
}

::ng-deep.dx-datagrid-pager {
  border: none !important;
}

/* css for cells */
::ng-deep .custom-cell {
  padding: 20px !important;
  font-size: 12px !important;
  border-color: #C4CEE5 !important;
  min-width: 200px !important;
}

::ng-deep .dx-column-lines>td {
  padding-left: 28px !important;
}

/* cell coloring */
::ng-deep .dx-datagrid .dx-row-alt>td {
  background: #f4f6ff !important;
}

/************** dataGrid table css END **************/


/************** dataGrid pager css START **************/

::ng-deep .dx-pages>.dx-info {
  display: none !important;
}

::ng-deep .dx-prev-button,
::ng-deep .dx-next-button {
  color: blueviolet !important;
}

::ng-deep .dx-pages-count {
  color: blueviolet !important;
}

::ng-deep .dx-page-sizes {
  width: 210px !important;
  display: flex !important;
  gap: 20px !important;
}

::ng-deep .dx-page-sizes::before {
  content: "Show: " !important;
  margin-top: 8px !important;
  color: #744BFC !important;
  font-size: 12px !important;
}

::ng-deep .dx-dropdowneditor.dx-dropdowneditor-field-clickable {
  border-radius: 39px !important;
  border-color: #CFC0FF !important;
}

::ng-deep .dx-dropdowneditor-icon::before {
  content: url("../../../assets/images/sort.svg") !important;
  top: 45% !important;
}

::ng-deep .dx-dropdowneditor-icon:hover {
  background-color: unset !important;
}

@media (max-width: 768px) {
  ::ng-deep .dx-datagrid-pager {
    display: flex !important;
    justify-content: center !important;
  }
}


/************** dataGrid pager css END **************/


/************** dataGrid popup css START **************/

::ng-deep .dx-popup-title {
  border-bottom: none !important;
}

::ng-deep .dx-popup-wrapper>.dx-overlay-content {
  border-radius: 13px !important;
  border: 1px solid #C4CEE5 !important;
}

.col-span-2>dx-text-box {
  border-radius: 39px !important;
}

/************** dataGrid popup css END **************/


/************** filter builder popup css START **************/

::ng-deep .dx-filterbuilder-action-icon {
  color: rgba(92, 184, 92, .3) !important;
}

/* ok */
::ng-deep div.dx-toolbar:nth-child(3)>div:nth-child(1)>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) {
  background: #744BFC;
  border-radius: 39px;
  color: white;

}

/* cancel */
::ng-deep div.dx-toolbar:nth-child(3)>div:nth-child(1)>div:nth-child(3)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1) {
  background: #f5f7ff;
  border-radius: 39px;
  color: #744BFC;
}

/************** filter builder popup css END **************/